
.logo_image{
  max-width: 50%;
  padding-top: 12px;
}

.header__logo{
  padding: 0;
}

a.login{
    color: #964B00;
    background-color: none;
}

.carousal-divide{
width: 66%;
}
.caro_image{
  max-width: 50%;
  max-height: 100%;
  float: right;
}

.detail-box{
  float: left;
}

.detail-box h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #07161c;
  line-height: 70px;
}

.detail-box h1 span {
color: #A76626;
}

.detail-box p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.detail-box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: #964B00;
  border: 1px solid #964B00;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 700;
}

.detail-box a:hover {
background-color: transparent;
color: #964B00;
}


.checkoutforcheckout{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 65px;
}

.pad{
    padding-top: 20px;
   
}

.banner{
    height: 50%;
    width: 100%;
}
.header__top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 127px;
    z-index: 9;
}

.hero{
    padding-bottom: 10px;
}

.hero__search__form{
    margin-top: 130px;
    
}

.hero__item {
	height: 650px;
    width: 100%;
	display: flex;
	align-items: center;
	padding-left: 10%;
}

/* .categories{
    padding-top: 60px;
    padding-bottom: 60px;
} */

/* .img-fluid {
    max-width: 75%;
    height: 400px;
} */

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #964B00;
   border-color: #964B00;
}
.btn-success {
  color: rgb(255, 255, 255) !important;
  background-color: #964B00 !important;
 border-color: #964B00 !important;
}
.btn-success:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #A76626 !important;
 border-color: #A76626 !important;
}

/* Our features */

.bg-icon {
    background: url(../img/bg-icon.png) center center repeat;
    background-size: contain;
}
.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.bg-light {
    background-color: #F7F8FC !important;
}
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

/* Products */
.title-all{
    margin-bottom: 30px;
}
.title-all h1{
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}
.title-all p{
    color: #999999;
    font-size: 16px;
}
.products-box{
    padding-top: 60px;
}
.special-menu{
    margin-bottom: 40px;
}
.filter-button-group{
    display: inline-block;
}
.filter-button-group button{
    background: #964B00;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    font-size: 18px;
}
.filter-button-group button.active{
    background: #000000;
}
.filter-button-group button{
}
.products-single {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.products-single .box-img-hover{
    overflow: hidden;
    position: relative;
}
.box-img-hover img{
    margin: 0 auto;
    text-align: center;
    display: block;
}
.type-lb{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:8;
}
.type-lb .sale{
    background: #964B00;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.type-lb .new{
    background: #000000;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.why-text{
    background: #f5f5f5;
    padding: 15px;
}
.why-text h4{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}
.why-text h5{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
    display: inline-block;
    background: #964B00;
    color: #ffffff;
    font-weight: 600;
}
.mask-icon{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.mask-icon ul{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.mask-icon ul li{
    background: #964B00;
}
.mask-icon ul li a{
    color: #ffffff;
    padding: 5px 10px;
    display: block;
}
.mask-icon a.cart{
    background: #964B00;
    position: absolute;
    bottom: 0;
    left: 0px;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
}
.mask-icon a.cart:hover{
    background: #000000;
    color: #ffffff;
}
.mask-icon ul li a:hover{
    background: #000000;
    color: #ffffff;
}
.products-single .mask-icon{
    background: rgba(1,1,1, 0.5);
    top: -100%;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
}
.products-single:hover .mask-icon{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
}
@keyframes bounceY {
    0% {
        transform: translateY(-205px);
   }
    40% {
        transform: translateY(-100px);
   }
    65% {
        transform: translateY(-52px);
   }
    82% {
        transform: translateY(-25px);
   }
    92% {
        transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        transform: translateY(0px);
   }
}
@-moz-keyframes bounceY {
    0% {
        -moz-transform: translateY(-205px);
   }
    40% {
        -moz-transform: translateY(-100px);
   }
    65% {
        -moz-transform: translateY(-52px);
   }
    82% {
        -moz-transform: translateY(-25px);
   }
    92% {
        -moz-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -moz-transform: translateY(0px);
   }
}
@-webkit-keyframes bounceY {
    0% {
        -webkit-transform: translateY(-205px);
   }
    40% {
        -webkit-transform: translateY(-100px);
   }
    65% {
        -webkit-transform: translateY(-52px);
   }
    82% {
        -webkit-transform: translateY(-25px);
   }
    92% {
        -webkit-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -webkit-transform: translateY(0px);
   }
}


/* Latest Products */

  .latest-products {
	padding-top: 20px;
	/* padding-bottom: 65px; */
}

.product-filter {
	margin-bottom: 50px;
}

.product-filter .section-title {
    
	margin-bottom: 20px;
}

.product-filter .product-controls li {
	list-style: none;
	display: inline-block;
	color: #6aaa35;
	font-size: 16px;
	margin-right: 42px;
	font-weight: 500;
	cursor: pointer;
}

.product-filter .product-controls li.mixitup-control-active {
	color: #1e1e1e;
}

.product-filter .product-controls li:hover {
	color: #1e1e1e;
}

.product-filter .product-controls li:last-child {
	margin-right: 0;
}

.single-product-item {
	
  margin-bottom: 20px;
}

.single-product-item figure {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.single-product-item figure img {
	min-width: 100%;
}

.single-product-item figure .p-status {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 5px 16px;
	font-size: 12px;
	background: #1e1e1e;
	color: #fff;
	border-radius: 50px;
  display: none;
}

.single-product-item figure .p-status.sale {
	background: #FE439F;
}

.single-product-item figure .p-status.popular {
	background: #D0D7DB;
}

.single-product-item .product-text {
	text-align: center;
}

.single-product-item .product-text h6 {
	color: #727272;
	margin-bottom: 5px;
}

.single-product-item .product-text p {
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0;
}


/* Featured  */
.process{
    height: 50px;
    width: 50px;
}



.cat{
    max-width: 48%;
    height: 100px;
    padding-top: 10px;
}

.card{
    border: none;
    max-height: 245px;
    max-width: 255px;
}

/* Cart Item */
.cart_image{
    max-width: 20%;
}

.cart_product_name{
    padding-left: 20px;
}


.globe{
    height: 450px;
    margin-left: 140px;
}

.dashboard{
    height: 333px;
}

/* Sign up Form */
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

.beeimage{
    max-width: 560px;
    padding-top: 150px;
}

.padding-community{
    padding-top: 100px;
}


/* Login Form */

.ftco-section {
    padding: 7em 0; }
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
  .img-login {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  
  .wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }


    .login-wrap {
        width: 50%;
        position: relative;
        background: #fff ;
          }
      
      .form-group {
        position: relative; }
        .form-group .label {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #000;
          font-weight: 700; }
        .form-group a {
          color: gray; }
      
      .form-control {
        height: 48px;
        background: #fff;
        color: #000;
        font-size: 16px;
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.1); }
          
          .checkbox-wrap {
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
          
          /* Hide the browser's default checkbox */
          .checkbox-wrap input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0; }
          
          /* Create a custom checkbox */
          .checkmark {
            position: absolute;
            top: 0;
            left: 0; }
          
          /* Create the checkmark/indicator (hidden when not checked) */
          .checkmark:after {
            content: "\f0c8";
            font-family: "FontAwesome";
            position: absolute;
            color: rgba(0, 0, 0, 0.1);
            font-size: 20px;
            margin-top: -4px;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
            @media (prefers-reduced-motion: reduce) {
              .checkmark:after {
                -webkit-transition: none;
                -o-transition: none;
                transition: none; } }
          
          /* Show the checkmark when checked */
          .checkbox-wrap input:checked ~ .checkmark:after {
            display: block;
            content: "\f14a";
            font-family: "FontAwesome";
            color: rgba(0, 0, 0, 0.2); }
          
          /* Style the checkmark/indicator */
          .checkbox-primary {
            color: #964B00; }
            .checkbox-primary input:checked ~ .checkmark:after {
              color: #964B00; }

              .image-wrapper{
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                width: 93%;
                display: flex;
                padding-top: 30px;
            }
              
           */
           .signin-btn{
        color: white;
            background-color: #964B00;
           }
           .image-wrapper-signup{
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            width: 99%;
            display: flex;
            padding-top: 200px;
           }

           a.termsandcondition{
        color:  #A76626 ;
           }

           .termssection{
            padding-top: 130px;
            padding-bottom: 100px;
           }

           /* Button Primary active status */
           /* .btn-primary:not(:disabled):not(.disabled).active, 
           .btn-primary:not(:disabled):not(.disabled):active, 
           .show>.btn-primary.dropdown-toggle{
            color:#ffffff;
            background-color: #4D764A;
            border-color: #4D764A;
           } */
           .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
            color: #fff !important;
            background-color: #964B00 !important;
            border-color: #964B00 !important;
        }



           .carousel-item .card{
            position: relative;
            transition: transform .2s;
           }
           .carousel-item .card:hover{
            overflow: visible;
            -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.13); 
  border: none;




}



.qty-container{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qty-container .input-qty{
  text-align: center;
  padding: 6px 10px;
  border: 1px solid #d4d4d4;
  max-width: 45px;
}
.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus{
  border: 1px solid #d4d4d4;
  padding: 10px 13px;
  font-size: 10px;
  height: 38px;
  width: 38px;
  transition: 0.3s;
}
.qty-container .qty-btn-plus{
  margin-left: -1px;
  border-radius: 0 8px 8px 0;
  background: #8fa28e;
  color: white;
  
}
.qty-container .qty-btn-minus{
  margin-right: -1px;
  border-radius: 8px 0 0 8px;
  background: #8fa28e;
  color: white;
}


/*---------------------------*/
.btn-cornered,
.input-cornered{
  border-radius: 4px;
}
.btn-rounded{
  border-radius: 50%;
}
.input-rounded{
  border-radius: 50px;
}

.footer{
  padding-top: 20px !important;
}

.text-primary{
  color: #964B00 !important;
  padding-right: 5px !important;
  padding-left: 10px;
}




/* dfxgchjnkhfd */
.signup-form{
  box-sizing: border-box;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.justify-content-center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
